#language-selector {
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
}

#language-selector img {
    width: 32px;
    height: 21px;
    object-fit: cover;
    cursor: pointer;
}

#history li {
    cursor: pointer;
}

#history li:hover {
    background-color: #eee;
}

#saved li:hover {
    background-color: #eee;
}

#saved li div div {
    cursor: pointer;
}

#saved li div div:nth-of-type(2) {
    font-size: 0.8em;
    font-style: italic;
}

footer {
    color: #666;
    font-size: 0.8em;
    font-style: italic;
}
